*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(95, 95, 170);
  background-color: rgb(red, green, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 100px;
}
.wrapper {
  padding: 80px 50px 110px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  border-radius: 50% 20% / 10% 40%;
  overflow: hidden;
  background: linear-gradient(90deg, green, red, blue);
  animation: bgAnimation 20s ease infinite;
}
@keyframes bgAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
h4 {
  font-size: 10px;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.submit {
  background: inherit;
  min-width: 200px;
  width: 200px;
  height: 50px;
  border: 0.5px solid white;
  color: white;
  border-radius: 15px;
}
input {
  background: inherit;
  border: 0.5px solid white;
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  height: 40px;
}
input::placeholder {
  color: whitesmoke;
  text-align: center;
}
.result {
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  margin-top: 20px;
  background: inherit;
  width: 600px;
  height: 50px;
  color: white;
}
